In [1]:
import numpy as np, pandas as pd, pandasql as ps
# ! pip install pandasql
# run the above line if you do not have pandasql on your device

In [47]:
df_09 = pd.read_csv("Datasets/SNAP/ACS_09_5YR_S2201_with_ann.csv", skiprows = [1], low_memory= False)
df_10 = pd.read_csv("Datasets/SNAP/ACS_10_5YR_S2201_with_ann.csv", skiprows = [1], low_memory= False)
df_11 = pd.read_csv("Datasets/SNAP/ACS_11_5YR_S2201_with_ann.csv", skiprows = [1], low_memory= False)
df_12 = pd.read_csv("Datasets/SNAP/ACS_12_5YR_S2201_with_ann.csv", skiprows = [1], low_memory= False)
df_13 = pd.read_csv("Datasets/SNAP/ACS_13_5YR_S2201_with_ann.csv", skiprows = [1], low_memory= False)
df_14 = pd.read_csv("Datasets/SNAP/ACS_14_5YR_S2201_with_ann.csv", skiprows = [1], low_memory= False)
df_15 = pd.read_csv("Datasets/SNAP/ACS_15_5YR_S2201_with_ann.csv", skiprows = [1], low_memory= False)

In [48]:
df_09.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC01,HC01_MOE_VC01,HC02_EST_VC01,HC02_MOE_VC01,HC03_EST_VC01,HC03_MOE_VC01,HC01_EST_VC02,...,HC02_EST_VC25,HC02_MOE_VC25,HC03_EST_VC25,HC03_MOE_VC25,HC01_EST_VC27,HC01_MOE_VC27,HC02_EST_VC27,HC02_MOE_VC27,HC03_EST_VC27,HC03_MOE_VC27
0,1400000US36001000100,36001000100,"Census Tract 1, Albany County, New York",794,84,120,84,674,108,31.9,...,14.5,36.8,44.8,15.5,8.7,(X),(X),(X),(X),(X)
1,1400000US36001000200,36001000200,"Census Tract 2, Albany County, New York",2145,228,488,164,1657,238,21.5,...,23.6,16.1,27.4,13.7,3.1,(X),(X),(X),(X),(X)
2,1400000US36001000300,36001000300,"Census Tract 3, Albany County, New York",2448,153,382,137,2066,168,27.8,...,6.1,9.9,44.8,11.8,2.6,(X),(X),(X),(X),(X)
3,1400000US36001000401,36001000401,"Census Tract 4.01, Albany County, New York",1092,85,0,123,1092,85,55.6,...,-,**,52.0,13.5,0.0,(X),(X),(X),(X),(X)
4,1400000US36001000403,36001000403,"Census Tract 4.03, Albany County, New York",2193,150,35,40,2158,154,30.7,...,0.0,68.8,68.5,10.1,2.0,(X),(X),(X),(X),(X)

In [49]:
print(df_10.columns)

Index([u'GEO.id', u'GEO.id2', u'GEO.display-label', u'HC01_EST_VC01',
       u'HC01_MOE_VC01', u'HC02_EST_VC01', u'HC02_MOE_VC01', u'HC03_EST_VC01',
       u'HC03_MOE_VC01', u'HC01_EST_VC02',
       ...
       u'HC02_EST_VC32', u'HC02_MOE_VC32', u'HC03_EST_VC32', u'HC03_MOE_VC32',
       u'HC01_EST_VC35', u'HC01_MOE_VC35', u'HC02_EST_VC35', u'HC02_MOE_VC35',
       u'HC03_EST_VC35', u'HC03_MOE_VC35'],
      dtype='object', length=129)

In [50]:
dfs = [df_09, df_11, df_12, df_13, df_14]
for i in range(len(dfs)):
    dfs[i].columns = df_10.columns

In [51]:
df_09.columns

Index([u'GEO.id', u'GEO.id2', u'GEO.display-label', u'HC01_EST_VC01',
       u'HC01_MOE_VC01', u'HC02_EST_VC01', u'HC02_MOE_VC01', u'HC03_EST_VC01',
       u'HC03_MOE_VC01', u'HC01_EST_VC02',
       ...
       u'HC02_EST_VC32', u'HC02_MOE_VC32', u'HC03_EST_VC32', u'HC03_MOE_VC32',
       u'HC01_EST_VC35', u'HC01_MOE_VC35', u'HC02_EST_VC35', u'HC02_MOE_VC35',
       u'HC03_EST_VC35', u'HC03_MOE_VC35'],
      dtype='object', length=129)

In [52]:
df_09["Year"] = 2009
df_10["Year"] = 2010
df_11["Year"] = 2011
df_12["Year"] = 2012
df_13["Year"] = 2013
df_14["Year"] = 2014

In [53]:
q = '''
select * from df_09
union
select * from df_10
union
select * from df_11
union
select * from df_12
union 
select * from df_13
union
select * from df_14
'''

In [54]:
df_09_to_14 = ps.sqldf(q, globals())

In [56]:
df_09_to_14.tail()
#df_09_to_14 = df_09_to_14.loc[df_09_to_14["id"]]

,id,id2,display-label,HC01_EST_VC01,HC01_MOE_VC01,HC02_EST_VC01,HC02_MOE_VC01,HC03_EST_VC01,HC03_MOE_VC01,HC01_EST_VC02,...,HC02_MOE_VC32,HC03_EST_VC32,HC03_MOE_VC32,HC01_EST_VC35,HC01_MOE_VC35,HC02_EST_VC35,HC02_MOE_VC35,HC03_EST_VC35,HC03_MOE_VC35,Year
29493,1400000US36123990100,36123990100,"Census Tract 9901, Yates County, New York",1972,136,206,55,1766,141,42.6,...,16.7,55.6,6.7,1.1,(X),(X),(X),(X),(X),2009
29494,1400000US36123990200,36123990200,"Census Tract 9902, Yates County, New York",2069,167,185,98,1884,188,36.8,...,25.4,61.0,7.9,3.2,(X),(X),(X),(X),(X),2009
29495,1400000US36123990300,36123990300,"Census Tract 9903, Yates County, New York",1852,134,152,52,1700,139,34.7,...,16.3,51.3,6.3,0.8,(X),(X),(X),(X),(X),2009
29496,1400000US36123990400,36123990400,"Census Tract 9904, Yates County, New York",1479,215,194,84,1285,199,37.3,...,12.0,62.2,8.5,4.0,(X),(X),(X),(X),(X),2009
29497,1400000US36123990500,36123990500,"Census Tract 9905, Yates County, New York",1740,121,199,79,1541,118,40.5,...,12.2,56.7,7.1,2.1,(X),(X),(X),(X),(X),2009

In [ ]:
len(df_09.columns)

In [ ]:
col_list = []
for i in df_15.columns:
    for j in df_09.columns:
        if i == j:
            col_list.append(i)

In [ ]:
len(col_list)

In [57]:
df_09_to_14.to_csv("Datasets/SNAP/ACS_09-14.csv")