In [3]:
import numpy as np, pandas as pd, pandasql as ps

In [80]:
df_09 = pd.read_csv("Datasets/SNAP/ACS_09_5YR_S2201_with_ann.csv", skiprows = 1, low_memory= False)
df_10 = pd.read_csv("Datasets/SNAP/ACS_10_5YR_S2201_with_ann.csv", skiprows = 1, low_memory= False)
df_11 = pd.read_csv("Datasets/SNAP/ACS_11_5YR_S2201_with_ann.csv", skiprows = 1, low_memory= False)
df_12 = pd.read_csv("Datasets/SNAP/ACS_12_5YR_S2201_with_ann.csv", skiprows = 1, low_memory= False)
df_13 = pd.read_csv("Datasets/SNAP/ACS_13_5YR_S2201_with_ann.csv", skiprows = 1, low_memory= False)
df_14 = pd.read_csv("Datasets/SNAP/ACS_14_5YR_S2201_with_ann.csv", skiprows = 1, low_memory= False)
df_15 = pd.read_csv("Datasets/SNAP/ACS_15_5YR_S2201_with_ann.csv", skiprows = 1, low_memory= False)

In [71]:
df_15.columns[:len(df_11.columns)] == df_09.columns

array([ True,  True,  True,  True,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False], dtype=bool)

In [66]:
for i in df_09.columns:
    total = []
    if i.isin(df_15.columns):
        total.append(i)
    total

AttributeError: 'str' object has no attribute 'isin'

In [60]:
dfs = [df_10.columns, df_11.columns, df_12.columns, df_13.columns, df_14.columns, df_15.columns]
dfs = [df_10, df_11, df_12, df_13, df_14, df_15]
for i in range(len(dfs)):
    try:
        dfs[i].columns = df_09.columns
    except ValueError: 
        print(str(i))

5

In [61]:
df_11.columns == df_09.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True], dtype=bool)

In [88]:
import string

In [89]:
for i in df_15.columns:
    for j in df_09.columns:
        if i == j:
            print i

Id
Id2
Geography
Total; Estimate; Households
Total; Margin of Error; Households
Total; Estimate; WORK STATUS - Families
Total; Margin of Error; WORK STATUS - Families
Total; Estimate; WORK STATUS - Families - No workers in past 12 months
Total; Margin of Error; WORK STATUS - Families - No workers in past 12 months
Total; Estimate; WORK STATUS - Families - 1 worker in past 12 months
Total; Margin of Error; WORK STATUS - Families - 1 worker in past 12 months
Total; Estimate; WORK STATUS - Families - 2 or more workers in past 12 months
Total; Margin of Error; WORK STATUS - Families - 2 or more workers in past 12 months

In [81]:
for i in df_15.columns:
    for j in df_10.columns:
        if i == j:
            print i

Id
Id2
Geography
Total; Estimate; Households
Total; Margin of Error; Households
Total; Estimate; POVERTY STATUS IN THE PAST 12 MONTHS - Below poverty level
Total; Margin of Error; POVERTY STATUS IN THE PAST 12 MONTHS - Below poverty level
Total; Estimate; DISABILITY STATUS - With one or more people with a disability
Total; Margin of Error; DISABILITY STATUS - With one or more people with a disability
Total; Estimate; RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER - Two or more races
Total; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER - Two or more races
Total; Estimate; Hispanic or Latino origin (of any race)
Total; Margin of Error; Hispanic or Latino origin (of any race)
Total; Estimate; White alone, not Hispanic or Latino
Total; Margin of Error; White alone, not Hispanic or Latino
Total; Estimate; WORK STATUS - Families
Total; Margin of Error; WORK STATUS - Families

In [82]:
for i in df_15.columns:
    for j in df_11.columns:
        if i == j:
            print i

Id
Id2
Geography
Total; Estimate; Households
Total; Margin of Error; Households
Total; Estimate; POVERTY STATUS IN THE PAST 12 MONTHS - Below poverty level
Total; Margin of Error; POVERTY STATUS IN THE PAST 12 MONTHS - Below poverty level
Total; Estimate; DISABILITY STATUS - With one or more people with a disability
Total; Margin of Error; DISABILITY STATUS - With one or more people with a disability
Total; Estimate; RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER - Two or more races
Total; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER - Two or more races
Total; Estimate; Hispanic or Latino origin (of any race)
Total; Margin of Error; Hispanic or Latino origin (of any race)
Total; Estimate; White alone, not Hispanic or Latino
Total; Margin of Error; White alone, not Hispanic or Latino
Total; Estimate; WORK STATUS - Families
Total; Margin of Error; WORK STATUS - Families

In [91]:
for i in df_15.columns:
    for j in df_12.columns:
        if i.translate(None, string.punctuation).lower() == j.translate(None, string.punctuation).lower():
            print i

Id
Id2
Geography
Total; Estimate; Households
Total; Margin of Error; Households
Total; Estimate; POVERTY STATUS IN THE PAST 12 MONTHS - Below poverty level
Total; Margin of Error; POVERTY STATUS IN THE PAST 12 MONTHS - Below poverty level
Total; Estimate; DISABILITY STATUS - With one or more people with a disability
Total; Margin of Error; DISABILITY STATUS - With one or more people with a disability
Total; Estimate; RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER - Two or more races
Total; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER - Two or more races
Total; Estimate; Hispanic or Latino origin (of any race)
Total; Margin of Error; Hispanic or Latino origin (of any race)
Total; Estimate; White alone, not Hispanic or Latino
Total; Margin of Error; White alone, not Hispanic or Latino
Total; Estimate; WORK STATUS - Families
Total; Margin of Error; WORK STATUS - Families

In [92]:
for i in df_15.columns:
    for j in df_09.columns:
        if i.translate(None, string.punctuation).lower() == j.translate(None, string.punctuation).lower():
            print i

Id
Id2
Geography
Total; Estimate; Households
Total; Margin of Error; Households
Total; Estimate; WORK STATUS - Families
Total; Margin of Error; WORK STATUS - Families
Total; Estimate; WORK STATUS - Families - No workers in past 12 months
Total; Margin of Error; WORK STATUS - Families - No workers in past 12 months
Total; Estimate; WORK STATUS - Families - 1 worker in past 12 months
Total; Margin of Error; WORK STATUS - Families - 1 worker in past 12 months
Total; Estimate; WORK STATUS - Families - 2 or more workers in past 12 months
Total; Margin of Error; WORK STATUS - Families - 2 or more workers in past 12 months