In [5]:
import glob
import os
import numpy as np
import pandas as pd

In [4]:
for zipfile in glob.glob('*.zip'):
    os.system('mkdir ' + zipfile.split('.')[0])
    os.system('mv ' + zipfile + ' ' + zipfile.split('.')[0] + '/')
    os.system("unzip " + './' + zipfile.split('.')[0] + '/' + zipfile + ' -d ' + './' + zipfile.split('.')[0] + '/')

In [24]:
path_income = './Income_ACS/'
path_language = './Language_Spoken_At_Home_ACS/'
path_race = './Race_ACS/'

In [25]:
year = ['09', '10', '11', '12', '13', '14', '15']

In [ ]:
# HC01_EST_VC02,"Households; Estimate; Total - Less than $10,000"
# HC01_EST_VC03,"Households; Estimate; Total - $10,000 to $14,999"
# ...
# HC01_EST_VC11,"Households; Estimate; Total - $200,000 or more"
# HC01_EST_VC12,Households; Estimate; Median income (dollars) for 2009
# HC01_EST_VC13,Households; Estimate; Median income (dollars)

In [73]:
income_feature_str = 'HC01_EST_VC'
ls_income_feature = ['GEO.id', 'GEO.id2']
for i in range(102, 112):
    ls_income_feature.append(income_feature_str+str(i)[1:])

In [103]:
ls_income = []
for y in year:
    df_income = pd.read_csv(path_income + 'ACS_'+ y + '_5YR_S1901_with_ann.csv')
    if y == '09':
        df_income = df_income[ls_income_feature+['HC01_EST_VC12']]
        df_income.rename(columns={'HC01_EST_VC12': 'HC01_EST_VC13'}, inplace=True)
    if y != '09':
        df_income = df_income[ls_income_feature+['HC01_EST_VC13']]
    df_income = df_income.drop(0)
    df_income['year'] = '20' + y
    ls_income.append(df_income)

In [107]:
df_income = pd.concat(ls_income)

In [117]:
df_income.columns

Index([u'GEO.id', u'GEO.id2', u'HC01_EST_VC02', u'HC01_EST_VC03',
       u'HC01_EST_VC04', u'HC01_EST_VC05', u'HC01_EST_VC06', u'HC01_EST_VC07',
       u'HC01_EST_VC08', u'HC01_EST_VC09', u'HC01_EST_VC10', u'HC01_EST_VC11',
       u'HC01_EST_VC13', u'year'],
      dtype='object')

In [121]:
for i in df_income.iloc[:, 2:]:
    df_income[i] = pd.to_numeric(df_income[i], errors='coerce')

In [123]:
df_income.to_csv('income.csv')

In [125]:
pd.read_csv(path_language + 'ACS_'+ '10' + '_5YR_S1601_with_ann.csv').columns

Index([u'GEO.id', u'GEO.id2', u'GEO.display-label', u'HC01_EST_VC01',
       u'HC01_MOE_VC01', u'HC02_EST_VC01', u'HC02_MOE_VC01', u'HC03_EST_VC01',
       u'HC03_MOE_VC01', u'HC01_EST_VC02',
       ...
       u'HC02_EST_VC29', u'HC02_MOE_VC29', u'HC03_EST_VC29', u'HC03_MOE_VC29',
       u'HC01_EST_VC30', u'HC01_MOE_VC30', u'HC02_EST_VC30', u'HC02_MOE_VC30',
       u'HC03_EST_VC30', u'HC03_MOE_VC30'],
      dtype='object', length=159)

HC01_EST_VC02,Total; Estimate; Speak only English
HC01_EST_VC03,Total; Estimate; Speak a language other than English
HC01_EST_VC04,Total; Estimate; Speak a language other than English - Spanish or Spanish Creole
HC01_EST_VC05,Total; Estimate; Speak a language other than English - Other Indo-European languages
HC01_EST_VC06,Total; Estimate; Speak a language other than English - Asian and Pacific Island languages
HC01_EST_VC07,Total; Estimate; Speak a language other than English - Other languages

# 2015
HC02_EST_VC02,Percent; Estimate; Speak only English
HC02_EST_VC03,Percent; Estimate; Speak a language other than English
HC02_EST_VC06,Percent; Estimate; SPEAK A LANGUAGE OTHER THAN ENGLISH - Spanish
HC02_EST_VC10,Percent; Estimate; SPEAK A LANGUAGE OTHER THAN ENGLISH - Other Indo-European languages
HC02_EST_VC14,Percent; Estimate; SPEAK A LANGUAGE OTHER THAN ENGLISH - Asian and Pacific Island languages
HC02_EST_VC18,Percent; Estimate; SPEAK A LANGUAGE OTHER THAN ENGLISH - Other languages

In [126]:
language_feature_str = 'HC01_EST_VC'
ls_language_feature = ['GEO.id', 'GEO.id2']
for i in range(102, 108):
    ls_language_feature.append(income_feature_str+str(i)[1:])

In [147]:
year = ['10', '11', '12', '13', '14', '15']
ls_language = []
for y in year:
    if y != '15':
        df_language = pd.read_csv(path_language + 'ACS_'+ y + '_5YR_S1601_with_ann.csv')
        df_language = df_language[ls_language_feature]
    if y == '15':
        df_language = pd.read_csv(path_language + 'ACS_'+ y + '_5YR_S1601_with_ann.csv')
        df_language = df_language[['GEO.id', 'GEO.id2', 'HC02_EST_VC02', 'HC02_EST_VC03', 'HC02_EST_VC06', 
                                  'HC02_EST_VC11', 'HC02_EST_VC14', 'HC02_EST_VC18']]
        df_language.rename(columns={'HC02_EST_VC02': 'HC01_EST_VC02', 
                                    'HC02_EST_VC03': 'HC01_EST_VC03',
                                    'HC02_EST_VC06': 'HC01_EST_VC04', 
                                    'HC02_EST_VC11': 'HC01_EST_VC05', 
                                    'HC02_EST_VC14': 'HC01_EST_VC06', 
                                    'HC02_EST_VC18': 'HC01_EST_VC07'}, inplace=True)
    df_language = df_language.drop(0)
    df_language['year'] = '20' + y
    ls_language.append(df_language)

In [148]:
df_language = pd.concat(ls_language)

In [151]:
len(df_income)

34416

In [152]:
len(df_language)

29509

In [163]:
for i in df_language.iloc[:, 2:]:
    df_language[i] = pd.to_numeric(df_language[i], errors='coerce')

In [164]:
df_language.to_csv('language_no09data.csv')

In [154]:
year = ['09', '10', '11', '12', '13', '14', '15']

In [155]:
race_feature_str = 'HD01_VD'
ls_race_feature = ['GEO.id', 'GEO.id2']
for i in range(101, 111):
    ls_race_feature.append(race_feature_str+str(i)[1:])

In [158]:
ls_race = []
for y in year:
    df_race = pd.read_csv(path_race + 'ACS_'+ y + '_5YR_B02001_with_ann.csv')
    df_race = df_race[ls_race_feature]
    df_race = df_race.drop(0)
    df_race['year'] = '20' + y
    ls_race.append(df_race)

In [165]:
df_race = pd.concat(ls_race)

In [166]:
for i in df_race.iloc[:, 2:]:
    df_race[i] = pd.to_numeric(df_race[i], errors='coerce')

In [168]:
df_race.to_csv('race.csv')