In [31]:
import pandas as pd
import csv

#### employment

In [112]:
df09 = pd.read_csv("Employment_Status_ACS/ACS_09_5YR_S2301_with_ann.csv")
df10 = pd.read_csv("Employment_Status_ACS/ACS_10_5YR_S2301_with_ann.csv")
df11 = pd.read_csv("Employment_Status_ACS/ACS_11_5YR_S2301_with_ann.csv")
df12 = pd.read_csv("Employment_Status_ACS/ACS_12_5YR_S2301_with_ann.csv")
df13 = pd.read_csv("Employment_Status_ACS/ACS_13_5YR_S2301_with_ann.csv")
df14 = pd.read_csv("Employment_Status_ACS/ACS_14_5YR_S2301_with_ann.csv")
df15 = pd.read_csv("Employment_Status_ACS/ACS_15_5YR_S2301_with_ann.csv")

In [143]:
col = [[0]]
col.append(range(1,67,2))
col = reduce(lambda x,y:x+y, col)
col

[0,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65]

In [144]:
df09 = df09.iloc[:,col]
df10 =df10.iloc[:,col]
df11 = df11.iloc[:,col]
df12 = df12.iloc[:,col]
df13 = df13.iloc[:,col]c
df14 = df14.iloc[:,col]
df15 = df15.iloc[:,col]

In [159]:
df09.columns == df10.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False], dtype=bool)

In [146]:
df09.loc[:,'year']=2009
df10.loc[:,'year']=2010
df11.loc[:,'year']=2011
df12.loc[:,'year']=2012
df13.loc[:,'year']=2013
df14.loc[:,'year']=2014
df15.loc[:,'year']=2015

In [147]:
employment = pd.concat([df09,df10,df11,df12,df13,df14,df15])

In [148]:
employment.to_csv('employment09-15.csv')

#### age and sex

In [173]:
df09 = pd.read_csv("Age_and_Sex_ACS/ACS_09_5YR_S0101_with_ann.csv")
df10 = pd.read_csv("Age_and_Sex_ACS/ACS_10_5YR_S0101_with_ann.csv")
df11 = pd.read_csv("Age_and_Sex_ACS/ACS_11_5YR_S0101_with_ann.csv")
df12 = pd.read_csv("Age_and_Sex_ACS/ACS_12_5YR_S0101_with_ann.csv")
df13 = pd.read_csv("Age_and_Sex_ACS/ACS_13_5YR_S0101_with_ann.csv")
df14 = pd.read_csv("Age_and_Sex_ACS/ACS_14_5YR_S0101_with_ann.csv")
df15 = pd.read_csv("Age_and_Sex_ACS/ACS_15_5YR_S0101_with_ann.csv")

In [172]:
col = [[0]]
col.append(range(1,116,2))
col = reduce(lambda x,y:x+y, col)
## col =[0,1,5,7,9,---,117]

In [174]:
df09 = df09.iloc[:,col]
df10 =df10.iloc[:,col]
df11 = df11.iloc[:,col]
df12 = df12.iloc[:,col]
df13 = df13.iloc[:,col]
df14 = df14.iloc[:,col]
df15 = df15.iloc[:,col]

In [184]:
df09.loc[:,'year']=2009
df10.loc[:,'year']=2010
df11.loc[:,'year']=2011
df12.loc[:,'year']=2012
df13.loc[:,'year']=2013
df14.loc[:,'year']=2014
df15.loc[:,'year']=2015

In [185]:
age_and_sex = pd.concat([df09,df10,df11,df12,df13,df14,df15])

In [186]:
age_and_sex.to_csv("age_and_sex09-15.csv")

#### financial

In [187]:
df09 = pd.read_csv("Financial_Characteristics_ACS/ACS_09_5YR_S2503_with_ann.csv")
df10 = pd.read_csv("Financial_Characteristics_ACS/ACS_10_5YR_S2503_with_ann.csv")
df11 = pd.read_csv("Financial_Characteristics_ACS/ACS_11_5YR_S2503_with_ann.csv")
df12 = pd.read_csv("Financial_Characteristics_ACS/ACS_12_5YR_S2503_with_ann.csv")
df13 = pd.read_csv("Financial_Characteristics_ACS/ACS_13_5YR_S2503_with_ann.csv")
df14 = pd.read_csv("Financial_Characteristics_ACS/ACS_14_5YR_S2503_with_ann.csv")
df15 = pd.read_csv("Financial_Characteristics_ACS/ACS_15_5YR_S2503_with_ann.csv")

In [193]:
col = [[0]]
col.append(range(1,75,2))
col = reduce(lambda x,y:x+y, col)
## col =[0,1,5,7,9,---,73]

In [195]:
df09 = df09.iloc[:,col]
df10 =df10.iloc[:,col]
df11 = df11.iloc[:,col]
df12 = df12.iloc[:,col]
df13 = df13.iloc[:,col]
df14 = df14.iloc[:,col]
df15 = df15.iloc[:,col]

In [196]:
df09.loc[:,'year']=2009
df10.loc[:,'year']=2010
df11.loc[:,'year']=2011
df12.loc[:,'year']=2012
df13.loc[:,'year']=2013
df14.loc[:,'year']=2014
df15.loc[:,'year']=2015

In [197]:
financial = pd.concat([df09,df10,df11,df12,df13,df14,df15])

In [198]:
financial.to_csv("finantial09-15.csv")